.content {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 680px;
    background-color: black;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.content h1 {
    margin-top: 60px;
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: 90px;
}

.content label {
    position: absolute;
    right: 280px;
    top: 350px;
    width: 370px;
    pointer-events: none;
}

.content input {
    width: 340px;
    border: 0 none;
    border-bottom: dotted red 1px;
    height: 33px;
    font-size: 16px;
    outline: 0;
}

.content button {
    padding: 25px;
    width: 360px;
    margin-top: 60px;
    border: solid 1px #820AD1;
    color: #820AD1;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
}

.content .help {
    margin-top: 40px;
    margin-bottom: 16px;
}

.content a {
    color: blueviolet;
    text-decoration: none;
    font-weight: 700;
}

.content button:hover {
    background-color: #810ad1a3;
    color: white;
    transition: 0.5s;
}


/*Validation*/

.alert {
    font-weight: 600;
    color: red;
    font-size: 14px;
    width: 194px;
    height: 40px;
}

.content button:disabled {
    background-color: white;
    color: gray;
    border: 1px solid rgba(128, 128, 128, 0.652);
}

.content input:valid {
    border-bottom: 1px dotted #820AD1;
}